.wrapper {
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  flex-basis: 50%;
}

.formWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
  margin: auto;
}

.title {
  font-size: 4rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

.inputWrap {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
}

.signupWrap {
  display: flex;
  column-gap: 0.5rem;
}

.signupLink {
  color: #ffb258;
  cursor: pointer;
}

.input {
  width: 100%;
  border: 1px solid #c8c8c8;
  font-size: 2rem;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.input:focus {
  box-shadow: inset 0px 0px 0px 2px #ffb258;
  border: none;
  outline: none;
}

.label {
  font-size: 1.5rem;
}

.forgotPassword {
  text-align: right;
  cursor: pointer;
  color: #ffb258;
}

.button {
  background-color: #ffb258;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 2rem;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem;
  filter: drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198))
    drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
    drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
    drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
    drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
}

.button:hover {
  background-color: #fdbc71;
}
.errorMessage {
  color:rgb(222, 18, 18);             /* Sets the text color to red */
  text-align: center;     /* Centers the text */
  font-size: 1.2rem;      /* Increases the font size */
  margin-top: 1rem;       /* Adds space above the error message */
  font-weight: bold;      /* Makes the font bold */
} 
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #4bb543;
  stroke-miterlimit: 10;
  box-shadow: inset 0px 0px 0px #4bb543;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
  position: relative;
  top: 50%;
  margin: 0 auto;
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #4bb543;
  }
}

/* Scale animation */
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

/* Checkmark drawing animation */
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48px;
  stroke-dashoffset: 48px;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) .8s forwards;
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}